/* -------------------------------------------------------------------- */



.headerWrapper {
}

	.menuWrapper {

	}

		.menu {

		}

			ul.menuItems {

			}

				.ul.menuItems li {

				}

	.headerTitle {
		text-align: center;
		font-size: 3em;
		font-weight: 600;
		padding: 200px 0 300px 0;
	}

	#contentWrapper {
		padding-top: 50px;
		margin: auto;
		max-width: 1200px;
		min-width: 980px;
	}

	.mapWrapper {
		position: relative;
		
	}
		#overlay {
			position: absolute;
		    z-index: 10;
		    background-color: rgba(0, 0, 0, 0.5);
		    min-height: 90%;
		    width: 90%;
		    top: 5%;
		    left: 5%;
		    display: none;

		}

			.topElements {
				overflow: auto;
			}

			.markerBox {
				float: left;
				padding: 30px 10px 0 40px;
			}

			.overlayTitle {
				    font-size: 60px;
    				padding: 30px;
    				float: left; 
    				color: white;
			}

			.closeX {
				position: absolute;
			    top: 0;
			    right: 0;
			    width: 40px;
			    padding: 10px;
			}
				.closeX img {
					width: 100%;
					top: 0;
					cursor: pointer;
				}
					.closeX img:hover {
						cursor: pointer;
					}

			#videoWrapper {
				padding: 40px;
			}
				#overlayVideo {

				}

			#overlaySocial {
				padding: 5px 40px 0 0 ;
			}
				#overlaySocial ul {

				}
					#overlaySocial ul li {
						float: right;
						width: 30px;
						margin-left: 10px;
					}

					#overlaySocial ul li img {
						width: 100%;
					}

						#overlaySocial ul li img:hover {
							cursor: pointer;
						}





		#map {
			min-height: 600px;
		}

		#slider {
			
		}
			.sliderBox {
				
				overflow: hidden;
			}
				.sliderBoxImg {
					height: 230px;
				}

					.sliderBoxImg img{
											}	
						.sliderBoxTitle {
							    text-align: center;
							    color: white;
							    background-color: rgba(0, 0, 0, 0.4);
							    position: relative;
							    z-index: 10;
							    width: 95%;
							    bottom: 5px;
							    left: 2.5%;
							    padding: 10px 0 10px 0;
						}

	.footerWrapper {

	}
		.footerText {
			text-align: center;
			padding: 100px 0 100px 0;
		}

.inner {
	
	width: 100%;
}


div#logoiss {
	
	
}

div#logoiss img{
	width: 200px;
	padding: 0 0 50px 0;
}








